body {
	margin: 0 auto;
	font-family: "Work Sans", sans-serif;
	letter-spacing: 1px;
	color: #fff;
	background: rgb(255,0,0);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
footer p {
	text-align: center;
	font-size: 0.5em;
}
#container {
	margin: 30px auto;
	max-width: 1200px;
}
#hero {
	width: 70%;
	margin: 0 auto;
}

/*START*/
.table {
	display: table;
	margin: 0 auto;
}
ul#nav {
	list-style: none;
	padding-top: 20px;
	}
ul#nav li {
	display: inline;
	padding: 0 20px;
	font-size: 2em;
}
ul#nav li a {
	text-decoration: none;
}
/*END*/


p {
	font-size: 150%;
	font-weight: 200;
	margin-bottom: 0px;
}
h1#hero {
	margin-top: 20px;
}
span#typed, span.typed-cursor {
	font-family: 'Work Sans', monospace;
	font-size: 750%;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

a {
	color: #fff;
	/*border-bottom: 1px dashed;*/
	transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

a:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
}

a:focus {
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
}

div.content.animated {
	width: 70%;
	margin: 0 auto;
}
img#about {
	border: 2px solid white;
	border-radius: 50%;
	width: 200px;
	height: auto;
}
#name {
	font-size: 84px;
	margin-top: 80px;
}

#links {
	margin-top: 60px;
	margin-bottom: 20px;
}

.subinfo {
	font-style: italic;
	margin-bottom: 8px;
	margin-top: 8px;
}

.subhead {
	font-size: 50px;
}

/*START*/
.table {
	display: table;
	margin: 0 auto;
}
ul#social {
	list-style: none;
	padding: 20px 0;
	margin-bottom: 0;
	}
ul#social li {
	display: inline;
	padding: 0 20px;
	font-size: 2em;
}
ul#social li a {
	text-decoration: none;
}
/*END*/

@media (max-width: 480px) {
	span#typed, span.typed-cursor {
		font-family: 'Work Sans', monospace;
		font-size: 300%;
	}

	#name {
		font-size: 76px;
	}

}

@media (max-width: 1280px) {
	p {
		font-size: 150%;
		font-weight: 300;
	}
}
